*{
    border: dashed red 1px;
}

.jumbotron {
    font-size: 1.5rem;
    text-align: center;
    color:white;
    height: 3rem;
    font-weight: bold;
}

h1, h2, h3{
    font-size: 1rem;
}

.btn{
    font-size: 1rem;
}

li{
    list-style-type: none;
}
