*{
    border: dashed red 1px;
}

.jumbotron {
    font-size: 2rem;
    text-align: center;
    color:white;
    height: 5rem;
    font-weight: bold;
    background-color:rgb(26, 12, 102);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%)
}

#dashboard{
    margin-top: 10px;
}

h1, h2, h3{
    font-size: 1.5rem;
}

.current{
    font-size: 1.2rem;
}

h2{
    text-transform: capitalize;
}

#cityList:nth-child(){
    text-transform: capitalize;
}

.btn{
    font-size: 1rem;
    color: white;
    background-color: rgba(9,9,121,1);
}

ul{
    list-style-type: none;
}

.list-group{
    color: white;
    font-size: 1.2rem;
}
.list-group-item{
    color: white;
    font-size: 1.1rem;
}


.card{
    background-color: rgba(9,9,121,1);
}